.row {
	margin: auto;
	padding: 20px 0;
}

.full-column {
	margin: auto;
	width: 900px;
	background: green;
}

.half-column {
	width: 408px;
	height: 400px;
	display: inline-block;
	background: red;
}

.third-column {
	width: 257px;
	height: 300px;
	display: inline-block;
	background: blue;
}
#first-column {
	height: 200px;
}

.text-box {
	padding: 20px;
}