.row {
	margin: auto;
	background: gray;
	margin-bottom:40px;
	padding: 20px 0;
}

.full-column {
	margin: auto;
	width: 900px;
	height: 200px;
	background: green;
}

.half-column {
	width: 448px;
	height: inherit;
	display: inline-block;
	background: red;
}